jupyterlab
pvlib
geopy
pandas
matplotlib

openpyxl
strEnum
pandas
numpy
scipy
plotly
joblib
ujson
mysql
mysql-connector
ctREFPROP
CoolProp
ht
ray
sklearn

#documentation
sphinx
sphinx-git
sphinx_rtd_theme

make